<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
 
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>

 

  
<div style="margin-left: 83%;">
  <table>
    <tr>
      <td>
        <a href="/users" class="btn-users" >Users</a>
      </td>
      <td>
        <a href="{{url_for('logout')}}" class="btn-lout" >Logout</a>
      </td>
    </tr>
  </table>
</div>


  
  <div class="container">
    
    <!-- Add company logo -->
    <img class="logo" 
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/TCIL-Telecommunication-Consultants-India-Limited-Logo.jpg/220px-TCIL-Telecommunication-Consultants-India-Limited-Logo.jpg"
      alt="Company Logo"
      style="z-index: 20; position: absolute; width: auto; top: 1rem ; left: 1rem;">

      

 

<html>
    <h1>Vehicle Inspection App ID Creator</h1>
    <br>
    <form action="{{url_for('register')}}" method="post">
      <div>{{msg}}</div>
      <br>
    <input name="name" type="text" placeholder="Name" required>
    <input name="email" type="text" placeholder="Email" required>
    <input name="mobile" type="tel" placeholder="Mobile" required>
    <select name="district_id" required>
      <option value="" disabled selected>District ID</option>
      <option value="1">1 - Ajmer</option>
      <option value="2">2 - Alwar</option>
      <option value="3">3 - Banswara</option>
      <option value="4">4 - Baran</option>
      <option value="5">5 - Barmer</option>
      <option value="6">6 - Bharatpur</option>
      <option value="7">7 - Bhilwara</option>
      <option value="8">8 - Bikaner</option>
      <option value="9">9 - Bundi</option>
      <option value="10">10 - Chittorgarh</option>
      <option value="11">11 - Churu</option>
      <option value="12">12 - Dausa</option>
      <option value="13">13 - Dholpur</option>
      <option value="14">14 - Dungarpur</option>
      <option value="15">15 - Ganganagar</option>
      <option value="16">16 - Hanumangarh</option>
      <option value="17">17 - Jaipur-1</option>
      <option value="18">18 - Jaisalmer</option>
      <option value="19">19 - Jalore</option>
      <option value="20">20 - Jhalawar</option>
      <option value="21">21 - Jhunjhunu</option>
      <option value="22">22 - Jodhpur</option>
      <option value="23">23 - Karauli</option>
      <option value="24">24 - Kota</option>
      <option value="25">25 - Nagaur</option>
      <option value="26">26 - Pali</option>
      <option value="27">27 - Pratapgarh</option>
      <option value="28">28 - Rajsamand</option>
      <option value="29">29 - Sikar</option>
      <option value="30">30 - Sirohi</option>
      <option value="31">31 - Sawai Madhopur</option>
      <option value="32">32 - Tonk</option>
      <option value="33">33 - Udaipur</option>
      <option value="34">34 - Jaipur-2</option>
    </select>
    <input name="password" type="text" value="$2y$10$owQf3HeCrKPQJX/qmLZGm.TJqrL32lnH/KRErC/sOBtXAfWAr2O3i" required readonly>
    <input name="password_text" type="text" value="12345678" required readonly>
    <label for="datetime">Created at </label>
    <input name="created_at" type="datetime-local" id="datetime" required>
    <label for="datetime">Updated at </label>
    <input name="updated_at" type="datetime-local" id="datetime" required>
    <input type="submit" value="Submit">
    </form>
  </div>

  
  
</body>


</html>

