<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

</head>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/register">< Back</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/users">Users</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
        </ul>
        <form class="d-flex" role="search" action="{{url_for('search')}}" method="post">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="username">
          <button class="btn btn-dark" type="submit">Search</button>
        </form>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
          <!-- <button class="btn-users" type="submit"><a href="#bottom" style="text-decoration: none;">Bottom</a></button> -->
        <!-- </form> -->
      </div>
    </div>
  </nav>

  <!-- <div id="top"> </div>-->

  <!-- <button class="btn-users" type="submit"><a href="#{{name}}" style="text-decoration: none;">Bottom</a></button> -->

<body>

    <div class="container my-3" style="text-align: center;">
        <h2>Registered Users</h2>
    </div>

    {% if allUsers|length == 0 %}
    <div class="alert alert-dark container" role="alert" >
        No records found!
      </div>

    
    {% else %}

    <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <!-- <th scope="col">Alt.Mobile</th> -->
            <!-- <th scope="col">User_Type_ID</th> -->
            <th scope="col">District_ID</th>
            <!-- <th scope="col">Block_ID</th> -->
            <!-- <th scope="col">Permit_All_District</th> -->
            <!-- <th scope="col">Email_Verified_At</th> -->
            <!-- <th scope="col">Password</th> -->
            <!-- <th scope="col">Password_Text</th> -->
            <!-- <th scope="col">Remember_Token</th> -->
            <th scope="col">Created_At</th>
            <th scope="col">Updated_At</th>
          </tr>
        </thead>
        <tbody>

            {% for form in allUsers|reverse %}
                
          <tr>
            <th scope="row" id="{{form.id}}">{{form.id}}</th>
            <td id="{{form.name}}">{{form.name}}</td>
            <td>{{form.email}}</td>
            <td id="{{form.mobile}}">{{form.mobile}}</td>
            <!-- <td>{{form.alt_mobile}}</td> -->
            <!-- <td>{{form.user_type_id}}</td> -->
            <td>{{form.district_id}}</td>
            <!-- <td>{{form.block_id}}</td> -->
            <!-- <td>{{form.permit_all_district}}</td> -->
            <!-- <td>{{form.email_verified_at}}</td> -->
            <!-- <td>{{form.password}}</td> -->
            <!-- <td>{{form.password_text}}</td> -->
            <!-- <td>{{form.remember_token}}</td> -->
            <td>{{form.created_at}}</td>
            <td>{{form.updated_at}}</td>
          </tr>

            {% endfor %}
    {% endif %}

        </tbody>
    </table>

    <!-- <div id="bottom"> ...</div>
    <a href="#top" class="btn-users" >Top</a> -->



    
</body>
</html>